

footer{
    background-color: #2f5aa8;
    color: white;
    height: 200px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}